@font-face {
    font-family: 'Pt Sans';
    src: url('')
}

body {
    margin: 0;
    padding: 0;
    font-family: "Pt Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.site-navigation {
    list-style: none;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:current {
    color: #766357;
}

