body {
    margin: 0;
    padding: 0;
    font-family: "Pt Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
img { 
    max-width: 100%;
}
.sedona-nav-logo {
    display: block; 
    margin: 0 auto;
}
main {
    width: 1200px;
    margin: 0 auto;
}
.site-navigation {
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.site-navigation li {
    color: #000000;
    font-weight: bold;
    
}
.site-navigation a {
    display: block;
    width: 239px;
    height: 56px;
    background-color: green;
}
.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:current {
    color: #766357;
}
.caption-block {
    margin-bottom: 60px;
} 
.caption-block img {
    display: block; 
    margin: 0 auto;
    margin-bottom: 60px;
}
.caption-text-block {
    text-align: center;
}
.caption-text-block h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}
.caption-text-block p {
    color: #333333;
}
.real-town-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.left-block-of-real-town {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    width: 400px;
    height: 210px;
    padding-top: 46px;
}
.left-block-of-real-town h2 {
    font-size: 21px;
    line-height: 26px;
}
.features-block {
    text-align: center;
    margin-bottom: 85px;
}
.features-block h2 {
    font-size: 21px;
    line-height: 26px;
    
}
.features-first {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.features-block li {
    list-style: none;
    width: 252px;
    margin: 0 auto;
}
.features-first li p {
    color: #333333;
}
.bridge-block {
    display: flex;
    justify-content: center;
    
}
.right-block-of-bridge {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    width: 400px;
    height: 210px;
    padding-top: 46px;
}
.right-block-of-bridge h2 {
    font-size: 21px;
    line-height: 26px;
}
.features-second-block {
    margin-bottom: 60px;
}
.features-second-list li {
    list-style: none;
    width: 252px;
    margin: 0 auto;
    text-align: center;
}
.features-second-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    min-height: 206px;
    padding-top: 50px;
}

.features-second-list h2 {
    font-size: 21px;
    line-height: 26px;
}
.features-second-list p {
    color: #333333;
}
.interested-block {
    text-align: center;
}
.center-block {
    margin-bottom: 55px;
}
.interested-block h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
}
.interested-block p {
    color: #333333;
}
.brown-element {
    font-size: 21px;
    background-color: #766357;
    color: #ffffff;
}
.brown-element:hover {
    background-color: #604e43;
}
.brown-element:active { 
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.searh-date {
    font-weight: 700;
}
.field input {
    font-weight: 700;
}
.blue-element {
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
}
.blue-element:active {
    background-color: #5496bd;
}
.blue-element:hover {
    background-color: #669ec0;
}
.footer-container p {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    color: #000000;
}
.footer-copyright p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.site-navigation .current {
    color: #766357;
}
.wrapper-hotels-form {
    background-color: #4d7faa;
    background-image: url("img/blur-background.jpg");
}
.search-form {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.search-form fieldset {
  border: none;
}
.search-form label {
    font-size: 14px;
    font-weight: normal;
}
.search-form p {
    font-size: 14px;
    font-weight: normal;
}
.show {
    font-size: 14px;
    font-weight: normal;
}
.sort-find {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.sort-menu {
    font-size: 12px;
    line-height: 18px;
}
.sort-options {
    font-size: 12px;
    line-height: 18px;
}
.sort-options li {
    list-style: none;
}
.sort-options a {
    color: rgba(0, 0, 0, 0.3);
}
.sort-options a:hover {
    color: #81b3d2;
}
.sort-options a:active {
    color: #000000;
}
.hotel-link {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.hotel-link:hover {
    color: #81b3d2;
}
.hotel-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.right-side-of-result-block p {
    color: #333333;
}
.rating {
    background-color: #f2f2f2;
}













