html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body {
    font-family: "Pt Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
}
img { 
    max-width: 100%;
    height: auto;
}
.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
.main-navigation {
    position: relative;
    background-color: #ffffff;
}
.sedona-nav-logo {
    display: block; 
    position: absolute;
    left: calc(50% - 69px);
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
.site-navigation li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-navigation li:nth-child(1) {
    margin-left: -40px;
}
.site-navigation li:nth-child(2) {
    margin-right: 240px;
}
.site-navigation a {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    width: 239px;
    height: 56px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
}
.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:current {
    color: #766357;
}
.caption-block {
    margin-bottom: 50px;
    margin-top: -56px;
    text-align: center;
} 
.caption-block img {
    display: block; 
    margin: 0 auto;
    margin-bottom: 60px;
}
.caption-block h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}
.caption-block p {
    color: #333333;
    line-height: 26px;
}
.real-town-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left-block-of-real-town {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    width: 400px;
    min-height: 256px;
    padding-top: 30px;
}
.left-block-of-real-town h2 {
    font-size: 21px;
    margin-bottom: 25px;
}
.left-block-of-real-town p {
    margin-top: 20px;
    padding: 0 50px;
}
.features-block {
    text-align: center;
}
.features-block h2 {
    font-size: 21px;
}
.features-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 60px 0 83px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.features-block li {
    width: 33%;
    list-style: none;
    text-align: center;
}
.features-block li:nth-child(1) {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.features-block li:nth-child(2) {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.features-block li:nth-child(3) {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.features-first h2 {
    font-size: 21px;
    padding-top: 85px;
}
.features-first li p {
    color: #333333;
    width: 290px;
    padding-top: 5px;
    margin: 0 auto;
}
.bridge-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bridge-block img {
    display: block;
}
.right-block-of-bridge {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    width: 400px;
    min-height: 256px;
    padding-top: 30px;
}
.right-block-of-bridge h2 {
    font-size: 21px;
    margin-bottom: 23px;
}
.right-block-of-bridge p {
    margin-top: 23px;
}
.features-second-block {
    padding: 47px 0 60px;
    background-color: #eeeeee;
    height: 256px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}
.features-second-list li {
    width: ;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}
.features-second-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.features-second-list h2 {
    font-size: 21px;
    max-width: 120px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.features-second-list p {
    color: #333333;
    padding-left: 20px;
    margin-top: 20px;
    max-width: 295px;
}
.interested-block {
    text-align: center;
}
.interested-block h2 { 
    font-size: 30px;
    line-height: 36px;
    margin: 50px 0 25px 0;
}
.interested-block p {
    color: #333333;
    line-height: 24px;
    margin-bottom: 45px;
}
.btn {
    text-transform: uppercase;
}
.map {
    background-color: #ffffff;
    width: 568px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    position: relative;
    width: 568px;
}
.search-hotel {
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
    border: none;
    padding-top: 9px;
    font-weight: bold;
    background-color: #766357;
    color: #ffffff;
}
.search-hotel:hover {
    background-color: #604e43;
}
.search-hotel:active { 
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.search-date {
    position: absolute;
    padding: 55px;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px rgba(0,1,1,.15);
            box-shadow: 0 7px 15px rgba(0,1,1,.15);
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
}
.field {
    margin-bottom: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.field label {
    line-height: 26px;
    font-weight: 700;
    color: #000;
    width: 112px;
    text-align: left; 
}
.date-field input {
    padding-left: 20px;
    border: none;
    width: 346px;
    line-height: 26px;
    height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #f2f2f2;
    outline: 0;
}
.search-date input:hover {
    background-color: #ebebeb;
}
.search-date input:focus {
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
}
.calendar-btn {
    display: block;
    width: 39px;
    height: 38px;
    background-color: #f2f2f2;
    padding: 0;
    border: 0;
    cursor: pointer;
}
.small-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -2px;
    margin-bottom: 5px;
}
.people .btn {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
}
.adults label {
    text-align: right;
    padding-right: 26px;
    padding-left: 26px;
}
.minus, .plus {
    position: relative;
}
.minus::after {
    position: absolute;
    top: 18px;
    left: 15px;
    content: '';
    display: block;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}
.minus:hover::after,
.plus:hover::after,
.plus:hover::before {
    background-color: #000000;
}
.minus:active::after,
.plus:active::after,
.plus:active::before {
    background-color: #81b3d2;
}
.plus::after {
    position: absolute;
    top: 17px;
    left: 15px;
    content: '';
    display: block;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}
.plus::before {
    position: absolute;
    top: 17px;
    left: 15px;
    content: '';
    display: block;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}
.calendar-icon {
    fill: #cacaca;
}
.calendar-icon:hover {
    fill: #000000;
}
.calendar-icon:active {
    fill: #81b3d2;
}
.people input {
    text-align: center;
    border: none;
    width: 38px;
    line-height: 26px;
    height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #f2f2f2;
    outline: 0;
}
.search-form-btn {
    display: inline-block;
    vertical-align: middle;
    width: 458px;
    height: 58px;
    border: none;
    margin-top: 20px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;
}
.search-form-btn:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.search-form-btn:hover {
    background-color: #669ec0;
}
.footer-index {
    position: absolute;
    bottom: 0;
}
.footer {
    background-color: rgba(255,255,255,.9);
    min-height: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 105px 0 115px;
    width: 100%;    
}
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-left: 246px;
    margin-bottom: 9px;
}
.social-btn {
    width: 46px;
    height: 48px;
    margin-right: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #81b3d2;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    opacity: 0.3;
    background-color: #5496bd;
}
.footer p {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    margin-left: 17px;
    margin-right: 10px;
    margin-top: 14px;
}
.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px
}
.footer-copyright p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
}
.footer-copyright a:hover path {
    fill: #81b3d2;
}
.footer-copyright a:active path {
    fill: #bdbbbc;
}
.site-navigation .current {
    color: #766357;
}
.wrapper-hotels-form {
    background-color: #4d7faa;
    background-image: url("../img/blur-background.jpg");
    padding-left: 58px;
    padding-top: 30px;
    min-height: 217px;
}
.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.filter-options {
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-form fieldset {
    border: none;
}
.search-form legend {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 24px;
}
.search-form label {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 25px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.filter-options label{
    position: relative;
    padding-left: 41px;
    letter-spacing: .4px;
}
label[for="water-pool"] {
    padding-left: 40px;
    letter-spacing: .3px;
}
.filter-options label::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-options input:checked + label::before {
    background-image: url("../img/checkbox-on.svg");

}
.filter-range {
    margin-left: 280px;
    width: 300px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    width: 90px;
    padding-left: 65px;
}
.price-controls .max-price {
    width: 90px;
    padding-left: 120px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 8px #fff;
            box-shadow: 0 0 0 8px #fff;
    cursor: pointer;
}
.range-toggle:hover {
    background: #1c4f80;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    width: 138px;
    margin-right: 95px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.sort {
    padding-left: 73px
}
.sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 7px;
    padding-left: 73px;
}
.price-day {
    font-size: 16px;
    font-weight: 21px;
}
.search-form p {
    font-size: 14px;
    font-weight: normal;
}
.show {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: transparent;
    background: transparent;
    border: solid 2px #ffffff;
    border-radius: 3px;
    width: 133px;
    height: 32px;
    color: #ffffff;
}
.sort-find {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.sort-menu {
    font-size: 12px;
    line-height: 18px;
    margin-left: 49px;
}
.sort-options {
    font-size: 12px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sort-options li {
    list-style: none;
    margin-right: 33px;
}
.sort-options a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}
.sort-options a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sort-options a:active {
    color: #000000;
    border: none;
}
.container-block {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 73px;
}
.container-block:nth-child(1) {
    border-top: 1px solid #e5e5e5;
}
.result-wrapper {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.img-wrapper {
    margin-right: 30px;
    padding-top: 5px;
    width: 135px;
    height: 90px;
}
.hotel-price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hotel-price-wrapper p {
    padding-top: 9px;
    margin: 0 39px 0 0;
    padding-bottom: 12px;
}
.links-hotel-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hotel-link {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.hotel-link:hover {
    color: #81b3d2;
}
.hotel-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.right-side-of-result-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    padding-right: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.stars {
    margin-left: auto;
    margin-top: 4px;
}
.star {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/star.svg');
    background-repeat: no-repeat;
}
.rating {
    display: block;
    background-color: #f2f2f2;
}
.more-information, .book {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}
.more-information {
    display: inline-block;
    width: 110px;
    height: 27px;
    color: #ffffff;
    background-color: #81b3d2;
    margin-right: 6px;
}
.more-information:hover {
    background-color: #669ec0;
}
.more-information:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.book {
    display: inline-block;
    width: 142px;
    height: 27px;
    border: none;
    font-weight: bold;
    background-color: #766357;
    color: #ffffff;
}
.book:hover {
    background-color: #604e43;
}
.book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.hotel-price-wrapper:nth-child(2) {
    margin-top: -2px;
    margin-bottom: -1px;
}
.footer-hotels {
    margin-top: -6px;
}
.map-image {
    width: 1200px;
    background-position: top;
    height: 593px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}